*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}
body{
    min-height: 100vh;
}
/*Header Content*/
header{
    background-image: url(../images/Heritage-Hats-Header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    padding: 0.5em 2.75em;
}
nav{
    background: none;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height:100%;
}
nav ul{
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items:center;
}
 nav li{
    height: 3.125em;
    display: inline;
    justify-content: space-between;
 }
 nav a{
    height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    color:#D2B48C;
    font-family: 'Avenir Next LT Pro';
 }
 nav a:hover{
    color:#A76825;
 }
.company-logo{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 15.625em;
    z-index: 999;
    background-color:#273F5B;
    display: none;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width:-100%;
}
.sidebar a{
    width: -100%;
}
.menu-button{
    display: none;
}
.hero-content{
    color:#F5F5DC;
}
.hero-content h1, h5, p{
    margin: 0.5em auto;
}
/*About Us*/
#about-us{
    margin: 2em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}
#about-us img{
    width: 100%;
    max-width: 651px;
}
/*Hat Types*/
#hat-types{
    margin: 2em 2em;

}
.hat-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    text-align:center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}
#restoration-services{
    margin: 2em 2em;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em
}
.card-1,.card-2{
    display: block;
    align-items: center;
}
.container-1{
    background-color:#4682B4;
    color:#F5F5DC;
    text-align: center;
    padding: 1em 0.5em ;
    max-width: 281px;
}
.container-2{
    background-color:#D2B48C;
    color:#273F5B;
    text-align: center;
    padding: 1em 0.5em;
    max-width: 281px;
}
.icon{
    position:relative;
    left: 32%;
    top: 15%;
}
