@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display: block;
        position:absolute;
        right: 0;
        top:0;
        padding-top: 3.5em;
    }
    .header-button{
        display:none;
    }
    #about-us{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    }
    .hat-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.25em;
    }
}


@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
    #about-us{
    width: 100%;
    max-width: 300px;
    min-height: 570px;
    height: auto;
    }
    .hat-gallery{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}