@media screen and (max-width:900px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display: block;
        position:absolute;
        right: 0;
        top:0;
        padding-top: 3.5em;
    }
    .header-button{
        display:none;
    }
    #about-us{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    }
    .hat-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.25em;
    }
    .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container-1, .container-2{
        max-width: 100%;
    }
    .icon{
        position:relative;
        left: 35%;
    }
}


@media(max-width: 500px){
    .sidebar{
        width: 100%;
    }
    #about-us{
    width: 100%;
    max-width: 300px;
    min-height: 570px;
    height: auto;
    }
    .hat-gallery{
        display: grid;
        grid-template-columns: 1fr;
    }
    .services{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.5em;
        justify-content: center;
    }
    .container-1, .container-2{
        max-width: 100%;
    }
    .icon{
        position:relative;
        left: 37%;
    }
    
}