/*Font Import*/
@font-face {
    font-family: 'youngserif';
    src: url('youngserif-regular.eot');
    src: url('youngserif-regular.eot?#iefix') format('embedded-opentype'),
         url('youngserif-regular.svg#youngserifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Avenir Next LT Pro'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-Regular.woff') format('woff');
}
h1,h2,h3,h4,h5,h6{
	font-family:'youngserif';
	line-height: normal;
	margin: 0 0 0.3125em 0;
}
h1{
	font-size:3.5em;
}
h2{
	font-size: 2.8125em;
}
h3{
	font-size: 2.18775em;
}
h4{
	font-size:1.6875em;
}

h5{
	font-size:1.3124em;
}
h6{
	font-size:1em;
}
/* Text */
p{
	font-family: 'Avenir Next LT Pro';
	font-size: 1.0625em;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
/*Images*/
img{
	max-width: 100%;
	height: auto;
}
/* Buttons */
button{
	font-family: 'Avenir Next LT Pro';
	width: 100%;
	max-width: 223px;
	min-height: 77px;
	height: 100%;
	font-size: 1.0625em;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 1.5em;
	background-color:#273F5B;
	color:#F5F5DC;
	border-radius: 0.3125em;
	border:none;
	cursor:pointer;
}